@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PetProject.Models.UserListModel
  
<h2>Каталог пользователей</h2>
  
<form method="get">
    <div>
        <label>Имя: </label>
        <input asp-for="Name" />
  
        <label>Компания: </label>
        
  
        <input type="submit" value="Фильтр" />
    </div>
</form>
  
<table>
    <tr>
        <th>Имя</th>
        <th>Возраст</th>
        <th>Компания</th>
    </tr>
  
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Email</td>
        </tr>
    }
</table>