@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Главная страница";
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var logged = !string.IsNullOrEmpty(currentUserId);
}
@if (TempData["Message"] != null)
{
    <div>
        @TempData["Message"]
    </div>
}
<h2>Добавить новую запись</h2>
<form asp-action="Paste" asp-controller="Paste" method="post">
    <p>
        <label>Введите текст</label><br />
        <textarea name="content"></textarea> <!-- Убедитесь, что указали name="content" -->
    </p>
    <p>
        <label>Выберите срок хранения пасты</label><br />
        <select name="expiration">
            <option value="7">7 дней</option>
            <option value="30">30 дней</option>
            @if (logged)
            {
                <option value="365">1 год</option>
            }
        </select>
    </p>
    <p>
        <input type="submit" value="Сохранить"/>
    </p>
</form>
