@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Главная страница";
}
@if (TempData["Message"] != null)
{
    <div>
        @TempData["Message"]
    </div>
}
<h2>Добавить новую запись</h2>
<form asp-action="Paste" asp-controller="Paste" method="post">
    <p>
        <label>Введите текст</label><br />
        <textarea name="content"></textarea> <!-- Убедитесь, что указали name="content" -->
    </p>
    <p>
        <input type="submit" value="Сохранить"/>
    </p>
</form>