@{
    ViewBag.Title = "Главная страница";
}

<h2>Добавить новую запись</h2>
<form asp-action="Paste" asp-controller="Paste" method="post">
    <p>
        <label>Введите текст</label><br />
        <textarea name="content"></textarea> <!-- Убедитесь, что указали name="content" -->
    </p>
    <p>
        <input type="submit" value="Сохранить"/>
    </p>
</form>