<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
<h2>@ViewBag.Title</h2>
<div>
    @if (Context.Request.Path != "/")
    {
        <a href="/">Home</a>
    }
</div>
<div>
    @if (Context.Request.Path != "/profile") 
    {
        <a href="/profile">Profile</a>
    }
</div>
<div>
    @if (Context.Request.Path != "/register" && !User.Identity.IsAuthenticated)
    {
        <a href="/register">Register</a>
    }
</div>
<div>
    @if (Context.Request.Path != "/login" && !User.Identity.IsAuthenticated)
    {
        <a href="/login">Login</a>
    }
</div>
<div>
    @RenderBody()
</div>

<!-- Подключение глобального JS -->
<script src="~/editor.js" asp-append-version="true"></script>

</body>
</html>