<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <script src="~/js/validations.js" asp-append-version="true"></script>
</head>
<body>
<header>
    <h2>@ViewBag.Title</h2>
    <nav>
        <div>
            @if (Context.Request.Path != "/")
            {
                <a href="/">Главная страница</a>
            }
        </div>
        <div>
            @if (Context.Request.Path != "/profile" && User.Identity.IsAuthenticated)
            {
                <a href="/profile">Профиль</a>
            }
        </div>
        <div>
            @if (Context.Request.Path != "/register" && !User.Identity.IsAuthenticated)
            {
                <a href="/register">Регистрация</a>
            }
        </div>
        <div>
            @if (Context.Request.Path != "/login" && !User.Identity.IsAuthenticated)
            {
                <a href="/login">Войти</a>
            }
        </div>
    </nav>

</header>

<main>
    <div>
        @RenderBody()
    </div>
</main>

<footer>
    <a href="https://vk.com/sapkjfl">Шибапс</a>
</footer>


</body>
</html>