# Файлы, игнорируемые по умолчанию
/shelf/
/workspace.xml
# Игнорируемые файлы Rider
/.idea.PetProject.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Запросы HTTP-клиента в редакторе
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
