@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PetProject.Models.UserEdit

@{
    ViewData["Title"] = "Profile";
}

<!-- Форма для изменения имени -->
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Password" />
    <input type="hidden" asp-for="NewPassword" />
    <input type="hidden" asp-for="PasswordConfirm" />

    <p>
        <label asp-for="Name">Изменить имя</label><br/>
        <input type="text" asp-for="Name"/>
    </p>

    <p>
        <input type="submit" value="Изменить имя"/>
    </p>
</form>

<!-- Форма для изменения email -->
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Password" />
    <input type="hidden" asp-for="NewPassword" />
    <input type="hidden" asp-for="PasswordConfirm" />

    <p>
        <label asp-for="Email">Изменить адрес электронной почты</label><br/>
        <input type="email" asp-for="Email"/>
    </p>

    <p>
        <input type="submit" value="Изменить email"/>
    </p>
</form>

<!-- Форма для изменения пароля -->
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Email" />

    <p>
        <label asp-for="Password">Введите предыдущий пароль</label><br/>
        <input type="password" asp-for="Password"/>
    </p>

    <p>
        <label asp-for="NewPassword">Новый пароль</label><br/>
        <input type="password" asp-for="NewPassword"/>
    </p>

    <p>
        <label asp-for="PasswordConfirm">Подтвердите пароль</label><br/>
        <input type="password" asp-for="PasswordConfirm"/>
    </p>

    <p>
        <input type="submit" value="Изменить пароль"/>
    </p>
</form>

<!-- Форма для удаления пользователя -->
<form asp-action="Delete" method="post">
    <input type="hidden" name="id" asp-for="Id" />
    <input type="submit" value="Удалить пользователя"/>
</form>

<!-- Форма для выхода из аккаунта -->
<form asp-action="Logout" method="post">
    <input type="hidden" name="id" asp-for="Id" />
    <input type="submit" value="Выйти из аккаунта"/>
</form>
