@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PetProject.Models.UserEdit

@{
    ViewData["Title"] = "Profile";
}

<form asp-action="Edit" method="post">
    <!-- Используем Id из модели -->
    <input type="hidden" asp-for="Id" />

    <p>
        <label asp-for="Name">Изменить имя</label><br/>
        <input type="text" asp-for="Name"/>
    </p>
    <p>
        <input type="submit" value="Изменить имя"/>
    </p>
</form>

<form asp-action="Edit" method="post">
    <!-- Используем Id из модели -->
    <input type="hidden" asp-for="Id" />

    <p>
        <label asp-for="Email">Изменить адрес электронной почты</label><br/>
        <input type="email" asp-for="Email"/>
    </p>
    <p>
        <input type="submit" value="Изменить email"/>
    </p>
</form>

<form asp-action="Edit" method="post">
    <!-- Используем Id из модели -->
    <input type="hidden" asp-for="Id" />

    <p>
        <label asp-for="Password">Введите предыдущий пароль</label><br/>
        <input type="password" asp-for="Password"/>
    </p>

    <p>
        <label asp-for="NewPassword">Новый пароль</label><br/>
        <input type="password" asp-for="NewPassword"/>
    </p>

    <p>
        <input type="submit" value="Изменить пароль"/>
    </p>
</form>

<form asp-action="Delete" method="post">
    <!-- Используем Id из модели -->
    <input type="hidden" name="id" asp-for="Id" />
    <input type="submit" value="Удалить пользователя"/>
</form>

<form asp-action="Logout" method="post">
    <input type="hidden" name="id" asp-for="Id" />
    <input type="submit" value="Выйти из аккаунта"/>
</form>
